html, body {
    margin:0;
    padding:0;
    width: auto;
    background-color: #051626;
}
.social-media-icons {
    position: fixed;
    z-index: 9;
    padding: 4px;
    background-color: rgba(0,0,0, 0.8);
    opacity: 0.3;
    right: 0;
    top: 10%;
}
.social-media-icons:hover {
    opacity: 1;
}
.main-img {
    margin: 0 auto 80px auto;
    display: block;
}
.social-icon {
    margin: 4px;
    display: block;
}

@media only screen and (max-device-width: 601px) {
    .main-img {
        width: 100%;
    }
    .social-media-icons {
        opacity: 1;
        bottom:0;
        width: auto;
        right: auto;
        left: 0;
        top: auto;
        position: fixed;
    }
    .social-icon {
        display: inline-block;
    }
    .social-icon img {
        height: 48px;
        width: 48px;
    }
}